.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
public/system/*
public/uploads/*
public/stylesheets/compiled/*
.DS_Store
*/.DS_Store
*.DS_Store
.rbenv-version
.sass-cache
config/database.yml
!.keep
*.swp
.env
.powenv
bin/stubs
coverage/*
public/assets
public/system
public/uploads
public/*/sitemap.xml.gz
rerun.txt
tags
vendor/bundler_gems
.sass-cache/
.rvmrc
.ruby-version
.ruby-gemset
dump.rdb
*.sublime-*
doc/dependencies*%
coverage